{% for movie in movies %}
    <div class="movies-box">
        <a href="{% url 'moviePage' movie.id %}">
            <!--img-->
            <div class="movies-img">
                <img src="{{ movie.get_background.first }}" loading="lazy" alt="">
            </div>
            <!--text-->
            <div class="text">{{ movie.title }} <span class="movie--year badge">{{ movie.year }}</span> <br> <span style="color: #6998AB; text-align: center;">{{ movie.tagline }}</span></div>
            <div class="movie-type badge badge-secondary"><span>{{ movie.type }}</span></div>
        </a>
    </div>
{% endfor %}
