{% extends "movie/layout.html" %}
{% load static %}

{% block body %}
      
    <section style="text-align: center;" class="wait my-3">
        <img src="../static/movie/img/logo1.png" alt="logo" class="loggo">
        <h1 style="font-size: 63px; color: #B1D0E0;" class="notfound my-3">404</h1>
        <h2 style="color: #526D82;" class="notfound2">Nothing was found at this location.</h2>
        <div style="font-size: 25px; color: #A5C9CA;" class="notfound3">{{message}}</div>
        <div style="font-size: 22px; color: #526D82;" class="notfound4">Check back later</div>
        <a href="{% url 'index' %}"> <button class="btn btn-primary my-2 notfound5" style="background-color: #2C74B3; border: none; border-radius: 10px;">Go to Home</button></a> 

    </section>


{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{% static 'movie/js/slick-animation.min.js' %}"></script>
    <script src="{% static 'movie/js/lightslider.js' %}"></script>
    <script src="{% static 'movie/js/script.js' %}"></script>
{% endblock %}