@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;

    /* colors */
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    /* FONT */
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;

    --z-index: 100;
}

/* base */
/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
  }
  
body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background: #27374D;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
  
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

.slide .badge,
.movies-box .movie--year {
    background-color: #9DB2BF;
    transform: translateY(-35%);
}

#spinner-box.visible {
    display: none;
    justify-content: center;
    height: 150px;
}
#spinner-box.visible {
    display: flex;
}
.spinner-box.not-visible {
    display: none;
}
  

/*===== HEADER =====*/
.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: rgba(82, 109, 130, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: .5s;
}
  
.header__toggle{
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header__logo {
    transform: translateX(50%);
}
  
.header__img{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
  
.header__img img{
    width: 40px;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius:30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    color: white;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    color: #ccc;
    outline: none;
    background: rgba(57, 91, 100, 0.5) !important;
    backdrop-filter: blur(10px);
}
  
  /*===== NAV =====*/
.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background: rgb(20,20,20);
    background: #144272;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: 1;
}
  
.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
  
.nav__logo, .nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}
  
.nav__logo{
    margin-bottom: 2rem;
}
  
.nav__logo-icon{
    font-size: 1.25rem;
    color: var(--white-color);
}
  
.nav__logo-name{
    color: var(--white-color);
    font-weight: 700;
}
  
.nav__link{
    position: relative;
    color: var(--white-color);
    margin-bottom: 1.5rem;
    transition: .3s;
}
  
.nav__link:hover{
    color: var(--white-color);
}
  
.nav__icon{
    font-size: 1.25rem;
}
  
/*Show navbar movil*/
.show{
    left: 0;
}
  
/*Add padding body movil*/
.body-pd{
    padding-left: calc(var(--nav-width) + 1rem);
}
  
/*Active links*/
.active{
    color: var(--white-color);
}
  
.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}
  
  /* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
    body{
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 2rem);
    }
  
    .header{
      height: calc(var(--header-height) + 1rem);
      padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
  
    .header__img{
      width: 40px;
      height: 40px;
    }
  
    .header__img img{
      width: 45px;
    }
  
    .l-navbar{
      left: 0;
      padding: 1rem 1rem 0 0;
    }
    
    /*Show navbar desktop*/
    .show{
      width: calc(var(--nav-width) + 156px);
    }
  
    /*Add padding body desktop*/
    .body-pd{
      padding-left: calc(var(--nav-width) + 188px);
    }
  }
/****************************/
/* ******************** slider main **************** */
.iq-main-slider{
    position: relative;
}

#home-slider ul.slick-dots{
    bottom: 30px;
}

#home-slider .slick-dots li{
    height: auto;
    width: auto;
}
#home-slider .slick-dots li button{
    height: 2px;
    width: 30px;
    background: rgba(57, 91, 100, 0.4);
    padding: 0;
}

#home-slider .slick-dots li.slick-active button{
    background: var(--first-color);
}

#home-slider li {
    position: relative;
}
.slider-description{
    position: absolute;
    top: 15%;
    left: 80px;
}
#home-slider h1.slider-text{
    font-size: 64px;
    margin: 15px 0;
}
#home-slider p{
    margin: 10px 0;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#home-slider .slick-bg{
    padding: 130px 0 50px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(100vh - var(--header-height));
    position: relative;
    z-index: 0.5;
    border-radius: 7px;
}
.slick-bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 35%, rgba(83,100,141,0) 100%);
    /* background: red; */
    width: 100%;
    z-index: -0.5;
}
.trailor-video{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    text-align: center;
}
.channel-name{
    color: var(--first-color);
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 2.5px;
    font-weight: 500;
}
.c-logo{
    width: 130px;
}

.channel-logo{
    border-left: 5px solid var(--first-color);
    background: transparent linear-gradient(270deg, rgba(11,1,2,0) 0%, rgba(255,55,65,0.3) 100%);
    padding: 10px 10px 10px 15px;
    width: 255px;
    position: relative;
    overflow : hidden;
}

.playbtn{
    display: inline-block;
}
.playbtn img{
    display: inline-block;
    width: 50px;
    filter: invert(1);
}
.playbtn img:hover{
    background: var(--first-color);
    border-radius: 50%;
    filter: invert(0);
}
.w-trailor{
    font-size: 17px;
    letter-spacing: 3.5px;
    font-weight: 600;
    color: #fff;
    margin-left: 5px;

}
.slider-inner{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slider-inner .eyebrow {
    background: #144272;
    color: #FFCAD4;
    max-width: 25ch;
    position: absolute;
    padding-left: 5px;
    font-size: 14px;
    top: -.5rem;
}

.big-title{
   font-family: 'Playfair Display', serif;
   background: url(../img/texure.jpg);
   background-repeat: repeat-x;
   background-position: 100% 100%;
   color: transparent;
   background-clip: text;
   -webkit-font-smoothing : antialiased;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.slick-track{
    margin: unset !important;
}

.slider-ratting ul li{
    margin-right: 5px;
}
.text-white{
    color: #fff !important;
}
.text-body{
    color: var(--white-color) !important;
}


.text-primary{
    color: var(--first-color) !important;
}

.iq-button.btn{
    padding: 12px 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.btn{
    outline: medium none;
    padding: 9px 30px;
    position: relative;
    display: inline-block;
    border-radius: 0 !important;
    cursor: pointer;
    z-index: 4;
    transition: all 0.5s ease-out 0s;
}
.btn-hover{
    background: #080518;
    border: 1px solid #080518;
    color: #fff;
    transition:color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    border-radius: 5px;

}

.btn-hover::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--first-color);
    border: 1px solid var(--first-color);
    transform: scaleX(1);
    transform-origin: 50%;
    transition: transform 0.3s ease-out;

}
.btn-hover:hover, .btn-hover:focus, .btn-hover:active{
    color: #fff;
}
.btn-hover:focus{
    box-shadow: none !important;
}

.btn-hover:hover::before, .btn-hover:focus::before, .btn-hover:active::before{
    transform: scaleX(0);
}

.btn-link{
    background: transparent;
    color: #fff;
}
.btn-link:hover{
    color: var(--first-color);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
a.text-primary:focus, a.text-primary:hover{
    color: var(--first-color) !important;
}
.w-trailor:hover{
    transition: all 0.5s ease;
    color: var(--first-color);
}
li.slide-item .block-description .parallax-ratting span{
    font-size: 14px;
}
.slider-inner .flex-container {
    padding-left: .75rem;
}
.slider-runtime {
    color: #9DB2BF;
    position: absolute;
    font-weight: 700;
    bottom: -1rem;
}
.slider-tagline {
    color: #A5C9CA;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}
/* responsiveness *********************** */

@media (min-width : 1499px){
    #home-slider h1.slider-text{
        margin: 25px 0 0;
    }
    #home-slider p{
        margin: 32px 0px;
    }
}
@media (max-width : 1199px){
    #home-slider .slick-bg{
        height: 100%;
    }
}
@media (max-width : 991px){
    .hover-buttons .btn{
        font-size: 10px;
    }
    #home-slider .slick-bg{
        padding: 50px 0;
    }

    .r-mb-23{
        margin-bottom: 23px;
    }

    .trailor-video{
        display: none;
    }
    #home-slider h1.slider-text{
        font-size: 35px;
    }
    /* .iq-main-slider{
        padding-top: 60px !important;
    } */
}

@media (max-width : 767px){
    #home-slider h1.slider-text{
        line-height: 62px;
        margin: 0;
    }
    #home-slider p{
        margin: 22px 0; 
    }

    .iq-main-header{
        margin-bottom: 10px;
    }
    .main-content{
        padding-top: 25px;
    }
    #home-slider p{
        width: 100%;
    }
    .header__logo {
        display: none;
    }
    .search-wrapper{ 
        margin-block: 5px;
        height: calc(var(--header-height) - .75rem);
    }
    .slick-bg::before{
        background: linear-gradient(-360deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 40%,
         rgba(83,100,141,0) 100%);

    }
    .play-button i{
        font-size: 16px;
    }
    .play-button::after, .play-button::before{
        width: 40px;
        height: 40px;
    }
    .slider-runtime {
        background: #526D82;
        padding-inline: 3px;
    }
    #home-slider .slick-bg{
        padding: 130px 0;
    }
}

/* ******************************** */

.parallax-img img{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 80%;
}
.parallax-window{
    height: 100%;
    padding: 100px 1rem;
    position: relative;
    background: url(../img/avatar.jpg) center center;
    background-size: cover;
    background-attachment: fixed ;
    border-radius: 7px;
    margin-bottom: 1.5rem;
    z-index: -1;
}
.parallax-window::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(20, 66, 114) 0%, rgb(64, 104, 130) 35%, rgba(83, 100, 141, 0) 100%);
    border-radius: 7px; 
}
.parallax-window .container-fluid {
    border-radius: 7px;
 }
.parallaxt-details{
    z-index: 9;
    position: relative;
}
.parallax-heading{
    font-size: 52px;
    font-family: 'Playfair Display', serif;
    color: #DDE6ED;
    font-weight: 700;
}

.movie-time .badge {
    background: #6998AB;
    margin-right: 5px;
}
/* *********** responsiveness ********** */
@media (max-width : 991px){
    li.slide-item .block-description .parallax-ratting span{
        font-size: 10px;
    }
}
@media (max-width : 767px){
    .parallax-window{
        padding: 60px 0;
        background: linear-gradient(90deg, rgb(20, 66, 114) 0%, rgb(64, 104, 130) 35%, rgba(83, 100, 141, 0.3) 100%);

    }
    .parallax-img{ 
        margin-left: auto;
        margin-right: auto;
    }
    .parallax-heading{
        font-size: 35px;
    }
}


/* **************************************** */
/******************************/


#main{
    padding-top: 80px;
    background-color: #B1D0E0;
    margin-bottom: 1.5rem;
    border-radius: 7px;
}
.showcase-box{
    width:430px;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin:0px 20px 10px 20px;
    overflow: hidden;
}

.showcase-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.showcase-heading{
    padding-left: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #2C3333;
}
.cs-hidden{
    overflow: visible !important;
}
#latest{
    border-top: 1px solid rgba(53,53,53,0.1);
    background-image: linear-gradient(222deg, rgba(137, 137, 137,0.02) 0%, rgba(137, 137, 137,0.02) 21%,transparent 21%, transparent 63%,rgba(101, 101, 101,0.02) 63%, rgba(101, 101, 101,0.02) 99%,rgba(35, 35, 35,0.02) 99%, rgba(35, 35, 35,0.02) 100%),linear-gradient(267deg, rgba(40, 40, 40,0.02) 0%, rgba(40, 40, 40,0.02) 23%,transparent 23%, transparent 48%,rgba(87, 87, 87,0.02) 48%, rgba(87, 87, 87,0.02) 98%,rgba(47, 47, 47,0.02) 98%, rgba(47, 47, 47,0.02) 100%),linear-gradient(78deg, rgba(103, 103, 103,0.02) 0%, rgba(103, 103, 103,0.02) 40%,transparent 40%, transparent 64%,rgba(100, 100, 100,0.02) 64%, rgba(100, 100, 100,0.02) 84%,rgba(35, 35, 35,0.02) 84%, rgba(35, 35, 35,0.02) 100%),linear-gradient(136deg, rgba(135, 135, 135,0.02) 0%, rgba(135, 135, 135,0.02) 14%,transparent 14%, transparent 67%,rgba(51, 51, 51,0.02) 67%, rgba(51, 51, 51,0.02) 68%,rgba(178, 178, 178,0.02) 68%, rgba(178, 178, 178,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}
.latest-heading{
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
.latest-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow:hidden;
    width:200px;
    background-color: var(--first-color);
}
.latest-b-img{
    width:100%;
    height: 270px;
}
.latest-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latest-b-text strong{
    color:var(--white-color);
    margin: 0px;
}
.latest-b-text{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.latest-b-text p{
    color:var(--first-color-light);
    margin: 0px;
}
.movies-heading h2{
    font-weight: 400;
    margin: 0px;
    padding: 1px 20px;
    background-color: rgba(0,0,0,0.01);
    border: 1px solid rgba(0,0,0,0.06);
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}
.movies-heading{
    display: flex;
    margin:0px 2%;
    flex-direction: column;
}
.movies-box {
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    border-top: 3px solid #292929;
    transition: all 0.4s ease;
}

.movies-box .movie-type {
    background: #205295;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    border-radius: 5px;
}

.movies-img {
    width: 100%;
    height: 400px;
    position: relative;
}

.movies-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movies-box a .text {
    text-align: center;
    display: block;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white-color);
    margin: 20px;
}

.hidden {
    display: none;
}

.movies-box:hover {
    animation: smoothHover 0.4s forwards;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes smoothHover {
    0% {
        transform: translateY(0) scale(1);
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: translateY(-10px) scale(1.05);
        box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.3);
    }
}

.movie--year {
    padding: 3px;
    transform: translateY(0);
}
#movies-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.movies-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns a{
    width: 130px;
    height: 40px;
    border:none;
    outline: none;
    color: #ffffff;
    background-color: #3963f0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.btns a:hover{
    background-color: #284fd1;
}
.footer{
    background-image: radial-gradient(circle at 19% 90%, rgba(190, 190, 190,0.04) 0%, rgba(190, 190, 190,0.04) 17%,transparent 17%, transparent 100%),radial-gradient(circle at 73% 2%, rgba(78, 78, 78,0.04) 0%, rgba(78, 78, 78,0.04) 94%,transparent 94%, transparent 100%),radial-gradient(circle at 45% 2%, rgba(18, 18, 18,0.04) 0%, rgba(18, 18, 18,0.04) 55%,transparent 55%, transparent 100%),radial-gradient(circle at 76% 60%, rgba(110, 110, 110,0.04) 0%, rgba(110, 110, 110,0.04) 34%,transparent 34%, transparent 100%),radial-gradient(circle at 68% 56%, rgba(246, 246, 246,0.04) 0%, rgba(246, 246, 246,0.04) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 71% 42%, rgba(156, 156, 156,0.04) 0%, rgba(156, 156, 156,0.04) 47%,transparent 47%, transparent 100%),radial-gradient(circle at 46% 82%, rgba(247, 247, 247,0.04) 0%, rgba(247, 247, 247,0.04) 39%,transparent 39%, transparent 100%),radial-gradient(circle at 50% 47%, rgba(209, 209, 209,0.04) 0%, rgba(209, 209, 209,0.04) 45%,transparent 45%, transparent 100%),linear-gradient(90deg, rgb(57, 91, 100),rgb(64, 104, 130));
    padding: 70px 0;
    line-height: 1.5;
    border-radius: 3px;
}
.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: var(--white-color);
    text-transform: capitalize;
    margin-bottom: 35px;
    padding-left: 40px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 40px;
    bottom: -10px;
    background-color: #f00f5a;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    color: var(--first-color-light);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: var(--white-color);
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height:40px;
    width: 40px;
    background-color: rgba(255,255,255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height:40px;
    border-radius: 50px;
    color: var(--white-color);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: var(--first-color);
    background-color: var(--white-color);
}

nav .menu-btn{
    display: none;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    color: white;
    text-align: left;
}
/* .banner::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(10, 38, 71, 1) 0%, rgb(57, 91, 100) 35%, rgba(83, 100, 141, 0) 100%);
} */


.banner .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    z-index: 1;
    padding-inline: 1rem;
}
.banner .movie-desc {
    padding: 1rem;
    z-index: 1;
}
.banner .cont-banner {
    margin-top: 1.5rem;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-block: 2rem;
    border-radius: 15px;
    padding-left: .75rem;
    z-index: 2;
}

.cont-banner::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(10, 38, 71, 1) 0%, rgb(57, 91, 100) 35%, rgba(83, 100, 141, 0) 100%);
}

/* .banner .content .movie-desc h1{
    font-size: 66px;
} */

.banner .content h2{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.banner .content h2 span{
    font-size: 32px;
    color: rgb(109, 113, 116);
}


.banner p{
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.384px;
    line-height: 28.86px;
    margin: 15px 0 35px;
    text-align: left;
    position: relative; 
    color: rgb(109, 113, 116);
    z-index: 1;
    max-width: 500px;
}

.banner p span{
    position: relative;
    color: rgb(128, 133, 137);
}

.year{
    position: relative;
    color: rgb(250, 245, 245);
}

.type{
    position: relative;
    color: rgb(255, 255, 255);
}

/* .storyline{
    position: relative; 
    left: -3px; 
    top: -26px;
} */

.play{
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #E7F6F2;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.2em;
    z-index: 1;
}

.play span{
    margin-right: 10px;
    max-width: 50px;
}

.banner .img{
    position: relative;
    width: 350px;
    cursor: pointer;
}

.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000000;
    background: rgba(0,0,0,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}
.trailer video{
    max-width: 900px;
    outline: none;
}
.trailer .close{
    position: absolute;
    top: calc(var(--header-height) + 30px);
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    color: red;
    max-width: 32px;
    z-index: 10000000;
}
.actor-list{
    color: rgb(255, 255, 250);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
}
.tags {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 600px;
    z-index: 1;
}
.banner .category-list {
    display: flex;
    justify-content: flex-start;
}



/* ===== Media Queries ====== */
/*
@media(max-width:1100px)*/
@media(max-width:680px){
    .showcase-box{
        max-width: 300px;
        height: 180px;
        margin: 10px;
    }
    .latest-box{
        width:190px;
        margin: 20px 5px;
    }
    .movies-box{
        flex-direction: column;
        width:90%;
        border: 1px solid rgba(0,0,0,0.2);
        background: #0A2647;
    }
    .movies-box a{
        width:65%;
    }
    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }
}
@media(max-width:440px){
    .movies-box a,.movies-box{
        width: 100%;
    }
    .movies-box{
        flex-direction: column;
    }
    .logo img{
        height: 30px;
    }
    .search{
        width: 90%;
        height: 40px;
    }
    .footer-col{
        width: 100%;
    }
}

/*******categories*******/
.category-list{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px auto;
}
#category{
    color:white;
    padding:10px 20px;
    background-color: #2C74B3;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
    transition: background 0.5s ease;
}
#category:hover {
    color:white;
    background-color: transparent;
    outline: 2px solid #2C74B3;
}
/***end*****/
/*@media (max-width: 680px){
    .notfound{
        position: relative; left: 247px; top: 10px; font-size: 54px; color: rgb(112, 115, 117); text-align: left;
    }
    .notfound2{
        position: relative; left: 143px; top: 22px; color: rgb(120, 123, 125); font-size: 24px;
    }
    .notfound3{
        position: relative; left: 174px; top: 51px; font-size: 21px; color: rgb(130, 133, 135);
    }
    .notfound4{
        position: relative; left: 237px; top: 69px; font-size: 17px; color: rgb(109, 113, 116);
    }
    .notfound5{
        left: 242px; top: 103px; background-color: rgb(65, 84, 104); border: none; border-radius: 10px; font-size: 14px;
    }
    .mortal{
        font-size: 48px; color: rgb(121, 125, 129); position: relative; left: 1px; top: 12px;
    }
    .overhere{
        font-size: 23px; color: rgb(66, 69, 72); position: relative; left: 0px; top: 8px;
    }
    .release{
        position: relative; color: rgb(109, 113, 116); font-size: 16px; left: 0px; top: 11px;
    }
    .releasespan{
        position: relative; left: 51px; top: -3px; color: rgb(128, 133, 137);
    }
    .year{
        position: relative; left: -1px; top: -3px; color: rgb(250, 245, 245); font-size: 15px;
    }
    .type{
        position: relative; left: 280px; top: -23px; color: rgb(255, 255, 255); font-size: 14px;
    }
    .mma{
        position: relative; left: -2px; top: -5px; font-size: 13px;
    }
    .play{
        font-size: 15px; left: -3px; top: -17px;
    }
}*/
/* **************************************** */
.trending-section {
    margin-block: 1.5rem;
    width: 100%;
}
.iq-trending{
    padding-top: 20px;
}
.trending-contens .slick-arrow.slick-disabled{
    opacity: 0;
}
#trending-slider .tranding-block {
    background-size: cover;
    background-position: top right;
    position: relative;
    border-radius: 7px;
}
.trending-info{
    padding: 60px 0;
}
.trending-content .tab-pane.fade{
    display: none;
    visibility: hidden;
    opacity: 0;
}
.trending-content .tab-pane.fade.active.show{
    display: block;
    visibility: visible;
    opacity: 1;
}
.trending-content .tab-pane{
    width: 100%;
    height: 100%;
}
.trending-content{
    padding : 0 50px;
    display: flex;
}
.p-btns{
    display: flex;
    align-items: center;
}
.trending-info .trending-text{
    font-size: 48px;
    line-height: 140%;
    margin: 15px 0;
}
.trending-info .badge {
    background: #144272;
}
.ml-3 {
    margin-left: 5px;
}
.trending-info .text-details{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
}

.trending-info .text-detail .badge{
    font-size: 20px;
}
.badge.badge-trend{
    background: rgba(0, 0, 0, 0.42);
}

.text-detail .trending-year{
    position: relative;
    padding-left: 30px;
}

.text-detail .trending-year::before{
    content: "";
    height: 6px;
    width: 6px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    border-radius: 50%;
}
.overview-tab::before, .slick-bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(90deg, rgba(10, 38, 71, 1) 0%, rgb(57, 91, 100) 35%, rgba(83, 100, 141, 0) 100%);
    z-index: -0.5;
    border-radius: 7px;
}
.trending-info{
    position: relative;
}

.trending-info .trending-dec{
    margin-bottom: 30px;
    width: 35%;
}

.trending-dec {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
hr {
    border-top: 2px solid #526D82;
}
.trending-contens .episodes-contens{
    margin-top: 30px;
}
.series {
    margin-top: 1.5rem;
}
/* ****************** responsiveness************ */
@media (max-width: 767px){
    .trending-content{
        padding: 0;
    }
    .trending-info .trending-dec{
        width: 100%;
    }
    .trending-pills{
        flex-direction: column;
        margin-top: 25px;
    }
    .main-title{
        font-size: 1em;
    }
    .iq-main-header{
        margin-bottom: 10px;
    }
    .iq-main-header .title{
        margin-bottom: 50px;
    }
    .trending-info .block-social.social1{
        margin-left: 0 !important;
    }
    .trending-info .trending-text{
        font-size: 35px !important;
        line-height: 1.3;
    }
    .trending-info{
        padding: 60px 15px;
    }
    .text-detail.episode-name .trending-year{
        padding-left: 0;
        font-size: 24px;
    }
    
    

}

.border-padding {
    border: 1px solid #F1EEF2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
}



#result-list {
    background: rgba(231, 246, 242);
    position: fixed;
    top: calc (var(--header-height) + 1rem);
    right: 1rem;
    z-index: 1000;
    max-width: 40vw;
    text-align: left;
}

#result-footer {
  border-top: 2px solid #F1EEF2;
  background: #DDE6ED;
  /* padding: auto -20px; */
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 5px;
  padding-block: .75rem;
  padding-inline: 1rem;
  border-radius:30px;
}

#result-list:after, 
#result-list:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#result-list:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    right: 10%;
    margin-left: -19px;
}
#result-list:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #F1EEF2;
    border-width: 20px;
    right: 10%;
    margin-left: -20px;
}
 
.result .result-poster {
    width: 150px;
    height: 150px;
    background: #406882;
    display: flex;
    border-radius: 5px;
}

.result-poster > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
} 

.list-header {
    border-bottom: 1px solid #5883FF;
    color: #5883FF;
}
.list-header #list-count {
    color: #9B9B9B;
}
#result-list .rating-div {
    color: #395B64;
    text-align: left;
    padding-top: .5rem;
}
#result-list .rating {
    background: #A5C9CA;
    font-size: 1rem;
}
#result-list .rating-lang {
    color: #27374D;
}

.movie-title {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
}

#list-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1rem;
    gap: 1rem;
}

.list-result {
    background: #395B64;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    animation: fadein 0.4s forwards;
}
.movielink-poster {
    padding-block: 5px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.col-md-6.movielink-poster::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(44, 116, 179, 0.4);
    backdrop-filter: blur(4px);
    z-index: 1; 
}
.movie-desc .mortal {
    font-size: 66px; 
    color: #B1D0E0;
}
.movie-desc .year{
    color: rgb(250, 245, 245); background: #406882; max-width: 16ch; padding: 3px 5px; margin-block: .5rem;  border-radius: 3px;
}
.movie-desc .type {
    position: relative; color: rgb(255, 255, 255); background: #406882; max-width: 16ch; padding: 3px 5px; display: flex; justify-content: center; border-radius: 3px; margin-bottom: 1rem;
}

@media (max-width: 991px){
    .banner{
        position: relative;
        width: 100%;
        padding: 100px 50px;
    }
    .banner .content h1{
        font-size: 48px;  
        position: relative; 
    }
    .banner .content h2{
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 0.05em;
    }
    .banner .content p{
        font-size: 1em;
    }
    /* .banner .content p span{
        left: 51px; 
        top: -3px;
    } */
    .year{
        font-size: 15px;
    }
    .type{
        font-size: 14px;
    }
    .storyline{
        font-size: 13px;
    }
    .play{
        font-size: 15px; 
    }
    .slide{
        position: relative;
        bottom: initial;
        left: 0;
        width: 250px;
        height: 150px;
        margin: 20px 0;
    }
    .category-list{ 
        justify-content: center;
    }

    .trailer video{
        max-width: 90%;
        outline: none;
    }
}

@media (max-width: 767px){ 
    #result-list {
        max-width: 90vw;
    }
    .list-cont {
        justify-content: center;
    }
    .pass {
        margin: 0;
        padding: 0;
    }
    .banner {
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0;
    }
    .banner .content {
        flex-direction: column;
        margin-block: .5rem !important;
    }
    .banner .movie-desc .mortal {
        font-size: 48px;
        width: 100%;
        color: #B1D0E0;
    }
    .movie-desc .mortal2 {
        margin-top: 1rem;
    }
    .movie-desc .release {
        text-align: center;
        background-color: #395B64;
        padding-block: .45rem;
        border-radius: 3px;
    }
    .movie-desc .type {
        width: 100%;
        margin-inline: auto;
        margin-bottom: .5rem;
    }
    .movie-desc .year {
        width: 100%;
        margin-inline: auto;
    }
    .tags {
        width: 90vw;
    }
    /* .parallax-img img {
        width: 80%;
        transform: translateX(10%);
    } */
    .slick-bg {
        height: 100vh;
    }
}

.wait {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
